body{
    background-color: #696664;
}

div{
    display: inline-block;
    height: 800px;
    width: 800px;
    border: 2px solid black;
    background-color: blue;
    margin-left: 30px;
}

div:hover{
    background-color: red;
    transition: background 10s, border-radius 10s;
    border-radius: 50%;
}

h1{
    visibility: hidden;
}